* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 960px;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: normal;
	margin-top: 0;

}
.container {
	width: 940px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
/*	outline: 2px solid green;*/
}

									/*Header*/
header {
	background-color: #f1f5f7;
}
main {
	width: 100%;
	background-color: #fff;
}
footer, .navigation {
	background-color: #32425c;
}
.bg-container {
	width: 100%;
	background-color: #293449;
}
.bg-services {
	width: 100%;
	background-color: #f1f5f7;	
}
.store-navigation {
	background-color: #293449;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.store-navigation a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	width: 150px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}
.store-navigation .logo {
	font-size: 24px;
	line-height: 24px;
	background-color: #ee3643;
	padding-top: 9px;
	padding-bottom: 9px;
	width: 220px;
	box-shadow: 0px 5px 0px 0px #b52933;
}
.store-navigation .nav-order {
	background-color: #63a63e;
}
.store-navigation .nav-basket {
	background-color: #ee3643;
}
.store-navigation .nav-search {
	border: none;
	outline: none;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #293449;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	width: 260px;
	text-align: left;
	margin-right: 10px;
}
.store-navigation a:hover, .store-navigation .nav-search:hover {
	background-color: #212a3a;
}
.store-navigation .nav-order:hover {
	background-color: #5fbb2d;
}
.store-navigation .logo:hover, .store-navigation  .nav-basket:hover {
	background-color: #ca2c37;
}
.store-navigation a:active {
	background-color: #161d29;
}
.store-navigation .nav-order:active {
	background-color: #518534;
}
.store-navigation .logo:active, .store-navigation  .nav-basket:active {
	background-color: #ba2732;
}
.store-navigation .nav-search:focus, .store-navigation .nav-search:active {
	background-color: #ffffff;
	color: #000000;
}
.navigation {
		box-shadow: 0px 5px 0px 0px #293449;
		margin-bottom: 60px;
}
.navigation ul {
	display: flex;
	margin: 0;
	padding: 0 30px;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
.navigation li {
	list-style: none;
	margin: 0;
}
.navigation a {
	padding: 19px 30px;
	text-decoration: none;
	font-family: 'Cuprum', 'Arial', sans-serif;
	color: #fff;
	font-size: 17px;
	line-height: 17px;
}
.navigation a:hover {
	background-color: #293449;
}
.navigation a:active {
	background-color: #1d2739;
}
.store-info {
	margin: 0;
	padding: 0;
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
	flex-wrap: nowrap;
}
.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 340px;
}
.summary {
	margin: 0;
	width: 300px;
	color: #ee3643;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	padding: 50px 50px 40px;
	outline: 1px solid red;
}
.phone {
	margin: 0;
	width: 270px;
	color: #e9292a;
	font-size: 21px;
	line-height: 21px;
	padding: 9px 50px 9px 70px;
	border: 3px solid #fff;
}
.address {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-top: 12px;
}
.account {
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.account a {
	background-color: #fff;
	color: #000;
	font-size: 21px;
	line-height: 21px;
	padding: 12px 25px;
	text-decoration: none;
}
.account a:first-child {
	margin-right: 10px;
	padding-left: 48px;
}

.slider-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}
.advantage {
	width: 300px;
	height: 123px;
	outline: 1px green solid;
	margin-bottom: 20px;
}
.slider {
	width: 620px;
	height: 280px;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}
									/*Сложный фильтр по цене*/
.price-controls {
  position: relative;
  display: block;
  height: 32px;
  margin-left: 12px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls .max-price {
  width: 90px;
  padding-left: 58px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
	display: block;
	margin-left: 12px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}